@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ddd;
  --foreground: #323031;

  --primary: #EF233C;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
